.main-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.register-form {
  width: 100%;
  max-width: 400px;
}
