@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Global */
:root {
  --primary-color: #350b40;
  --secondary-color: #1a508b;
  --background-color: #f6f6f6;
  --success-color: #61b15a;
  --error-color: #ef4f4f;
  --disabled-color: #cfd3ce;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f6f6f6;
  font-family: 'Lato', sans-serif;
  position: relative;
}

main {
  padding-top: 15vh;
  padding-right: 15vw;
  padding-left: 15vw;
}
