* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

section {
  padding-right: 30vw;
  padding-left: 30vw;
  padding-top: 6vh;
}

.main-header {
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header img {
  width: 4%;
}

.text-center.card {
  border: 1px solid #ddd;
  margin: 10% auto;
  border-radius: 12px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.post-sender {
  display: flex;
  align-items: center;
  padding: 0.5%;
}

.post-sender img {
  border-radius: 50%;
  margin-left: 2%;
  margin-right: 3%;
}

.post-sender h5 {
  margin-left: 1%;
}

.main-sub-image {
  width: 30px;
}

.text-center.card h5 {
  display: inline;
}

.main-main-image {
  width: 100%;
}

.post-message {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.post-text {
  margin: 1%;
}

.post-users {
  font-weight: bold;
}

.post-message h5,
.post-message small {
  margin: 1%;
  text-align: left;
}

.post-message small {
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.load-more-btn {
  display: block;
  width: 70%;
  background-color: rgb(133, 133, 255);
  color: #fff;
  margin: 5% auto;
  border: 0;
  padding: 2%;
  border-radius: 20px;
}

@media (max-width: 376px) {
  .main-header img {
    width: 10%;
  }
}
