/* Card-main */
.main-card.card {
  width: 60%;
  border: 1px solid #ddd;
  margin: 10% auto;
  border-radius: 12px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

/* Card-header */
.main-card.card .post-sender.card-header {
  padding: 2%;
  display: flex;
  align-items: center;
}

.main-card.card .post-sender.card-header .main-sub-image {
  width: 30px;
  border-radius: 50%;
  margin-left: 2%;
  margin-right: 3%;
}

.post-sender h5 {
  margin-left: 1%;
  margin-bottom: 0;
  font-size: 0.9rem;
  display: inline;
}

.post-sender {
  display: flex;
  align-items: center;
  padding: 0.5%;
}

/* Card-body */
.card-body {
  padding: 0 !important;
  margin: 0;
}

.main-main-image {
  width: 100%;
}

/* Card-bottom */

.post-message {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.post-text {
  margin: 1%;
}

.post-users {
  font-weight: bold;
}

.post-message h5,
.post-message small {
  margin: 1%;
  text-align: left;
}

.fas.fa-quote-right,
.fas.fa-quote-left {
  font-size: 0.7rem;
}

.post-message small {
  color: rgba(var(--f52, 142, 142, 142), 1);
}

#load-more-btn {
  display: block;
  width: 50%;
  background-color: rgb(133, 133, 255);
  color: #fff;
  margin: 5% auto;
  border: 0;
  padding: 2%;
  border-radius: 20px;
  font-size: 1.2rem;
}

@media (max-width: 376px) {
  .main-header img {
    width: 10%;
  }

  #load-more-btn {
    font-size: 0.6rem;
  }
}
