.presents-list h1 {
  font-size: 2rem;
  text-align: center;
}

/* Present item (each box) */

.present-item {
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e7e6e1;
  margin: 10% auto;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* Present image*/

/* Present details*/
.present-details {
  width: 80%;
  margin-top: 2%;
}

.present-details p {
  margin: 0;
}

.present-details .present-price-stock {
  margin-bottom: 5%;
}

.text-center.my-5.loading {
  color: #555;
}

.load-more-btn {
  display: block;
  margin: 5% auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  border: 0;
  color: #fff;
  border-radius: 10px;
  background-color: #11698e;
}

.load-more-btn:hover {
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.load-more-btn:focus,
.load-more-btn:active {
  border: none;
  outline: none;
}

@media (min-width: 600px) {
  .present-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    border: 2px solid #e7e6e1;
    margin: 4% auto;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .present-details {
    padding-left: 5%;
  }

  .load-more-btn {
    width: 40%;
  }
}
