/* Global */
:root {
  --primary-color: #350b40;
  --secondary-color: #1a508b;
  --background-color: #f6f6f6;
  --success-color: #61b15a;
  --error-color: #ef4f4f;
  --disabled-color: #cfd3ce;
}

#main-navbar {
  width: 100vw;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#toggle {
  position: absolute;
  color: var(--primary-color);
  top: 5vh;
  left: 5vw;
  cursor: pointer;
}

#navbar-items {
  margin: 0;
  padding: 0;
}

.navbar-items {
  display: none;
}

#navbar-items.showActiveMenu {
  display: block;
}

#navbar-items .navbar-item {
  list-style-type: none;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 10% 4vw;
  margin: 0;
  border-bottom: 1px dotted #fff;
}

#navbar-items .navbar-item:last-child {
  border-bottom: 0;
}

#navbar-items .navbar-item:hover {
  color: var(--background-color);
  text-shadow: 0 0 10px #fff;
}

#navbar-items .navbar-item a {
  text-decoration: none;
  color: var(--background-color);
}

/* Media - tablet, laptop or desktop monitor screen */
@media (min-width: 800px) {
  #toggle {
    display: none;
  }

  #main-navbar {
    display: block;
  }

  #navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #navbar-item.navbar-item {
    padding: 2% 4vw;
    border: 0;
  }

  /* Custom */

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 4% 0;
    text-transform: uppercase;
    transition: color 0.1s, background-color 0.1s;
    color: var(--background-color);
  }

  a:hover {
    color: var(--background-color);
  }

  a:focus,
  a:active {
    color: var(--background-color);
  }

  /* white underline when hover and active */
  a::before {
    content: '';
    display: block;
    position: absolute;
    top: 120%; /* location from top */
    height: 3px; /* thickness */
    width: 100%;
    background-color: var(--background-color);
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: color 0.1s, -webkit-transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out,
      -webkit-transform 0.2s ease-out;
  }
  /* white underline when hover and active */

  a:active::before {
    background-color: var(--primary-color);
  }

  a:hover::before,
  a:focus::before {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
